@import 'vars/colors.less';

html, body {
    height: 100%;
}


body {
    color: @text;
}

#main {
    padding: 20px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
    padding: 0 0 120px;
}

.container {
    padding: 0px;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Mobile */
@media only screen and (max-width : 500px) {

}

/* Mobile and portrait tablets */
@media only screen and (max-width: 992px) {

}

/* Tablets and desktop */
@media only screen and (min-width : 500px) {

}

/* Only desktop */
@media only screen and (min-width: 992px){

}